{{#each}}
<p id="outbound-carrier">Outbound Carrier: {{departCarrier}}</p>


{{!-- have if statement since outbound and inbound flights are tied to carrier ids rather than the loop objects --}}


<p id="inbound-carrier">Inbound Carrier: {{homeCarrier}}</p>
{{/each}}