 {{#each this}}
 <h2 class="header" id="place-name">{{country}}</h2>
 <h3 clas="header" id="city-name">{{city}}</h3>
 {{/each}}

 {{!-- if statement since inbound and outbound places are not tied to the object loops but by their ids --}}