{{#each this}}
<div class="col s12 m7">
    <h3 clas="header" id="trip-id">{{id}}</h3>
  {{!-- append places partial here --}}
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title">Quote</span>
                    {{!-- append qoutes partial here --}}
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-light" name="action">Delete
                    <i class="material-icons right">delete</i>
                </button>
            </div>
        </div>
    </div>
</div>
{{/each}}

<h1>End Search Results</h1>