<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.petName}}</td>
            <td>{{this.petAge}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>