<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" />
    <title>Quadvago</title>
</head>

<body>
    <img src="/public/assets/img/airplane.jpg" width="400px" id="airplane">

    {{{ body }}}

</body>

</html>