<nav>
    <div class="nav-wrapper blue">
        <form>
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>
{{!-- form for search bar --}}
<img src="/assets/img/plane.jpg" width="400px" id="airplane">

<h1>This is the Body</h1>

<div class="blue"></div>