{{!-- form for search bar --}}
{{!-- <img src="/assets/img/plane.jpg" width="400px" id="airplane"> --}}

<h1>You Have not Booked any flights!</h1>



{{!-- Parallax container --}}
<div class="parallax-container">
    <div class="parallax"><img src="/assets/img/brycecanyon.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this
            case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/assets/img/baycity.jpg"></div>
</div>