$font-stack: 'Trade Winds',
cursive,
sans-serif;
$primary-color: #fe4f;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    // background-color: red;
    // height: 200px;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }

  // .nav-wrapper {
  //   @extend .blue !optional;
  // }
}